
dataset/train/normal/

dataset/train/infected/non-covid/

dataset/train/infected/covid/

dataset/test/normal/

dataset/test/infected/non-covid/

*.pt

.ipynb_checkpoints/

dataset/test/infected/covid/

dataset/val/infected/covid/

dataset/val/infected/non-covid/

dataset/val/normal/
