
dataset/train/normal/

dataset/train/infected/non-covid/

dataset/train/infected/covid/

dataset/test/normal/

dataset/test/infected/non-covid/

*.pt

.ipynb_checkpoints/

dataset/test/infected/covid/

dataset/val/infected/covid/

dataset/val/infected/non-covid/

dataset/val/normal/

dataset_hist_equalization/val/normal/

dataset_hist_equalization/val/infected/non-covid/

dataset_hist_equalization/val/infected/covid/

dataset_hist_equalization/train/normal/

dataset_hist_equalization/train/infected/non-covid/

dataset_hist_equalization/train/infected/covid/

dataset_hist_equalization/test/normal/

dataset_hist_equalization/test/infected/non-covid/

dataset_hist_equalization/test/infected/covid/

dataset.zip
